{
    "sites": {
        "allowManganatoScans": true,
        "allowMangaDex": true,
        "allowReaperScans": true,
        "allowReaperScansFake": false,
        "allowAsura": true,
        "allowComick": true
    },
    "queue": {
        "redisIp": "127.0.0.1",
        "instances": 3,
        "clearQueuesAtStart": false,
        "instantClearJob": false,
        "removeCompleted": 1000,
        "removeFailed": 5000
    },
    "logging": {
        "verboseLogging": false
    },
    "serverCom": {
        "serverUrl": "enter_url_here",
        "serverPassWord": "secret_Password_Change_Me"
    },
    "updateSettings": {
        "autoUpdateInfo": true,
        "updateDelay": 7200000,
        "updateAtStart": true,
        "refetchImgs": false
    }
}