{
    "updateDelay": 7200000,
    "updateAtStart": true, 
    "allowManganatoScans": true,
    "allowReaperScansFake": true,
    "allowAsura": true,
    "serverUrl": "enter_url_here",
    "redisIp": "127.0.0.1"
}