{
  "notif": {
    "webhookUrls": ["https://example.com/api/webhook/example_key"],
    "batchSuccessNotif": false,
    "batchFailureNotif": true,
    "mangaFailureNotif": false,
    "updateFetchFailureNotif": true
  },
  "sites": {
    "allowManganatoScans": true,
    "allowMangaDex": true,
    "allowAsura": true,
    "allowComick": false,
    "allowMangafire": true
  },
  "queue": {
    "redisIp": "127.0.0.1",
    "mangaFireInstances": 1,
    "instances": 3,
    "clearQueuesAtStart": true,
    "instantClearJob": false,
    "removeCompleted": 1000,
    "removeFailed": 5000
  },
  "logging": {
    "verboseLogging": false
  },
  "serverCom": {
    "serverUrl": "enter_url_here",
    "serverPassWord": "secret_Password_Change_Me",
    "localPort": 80,
    "testMode": false
  },
  "updateSettings": {
    "autoUpdateInfo": true,
    "updateDelay": 7200000,
    "updateAtStart": true,
    "refetchImgs": false,
    "forceUpdateManga": false,
    "intitalMangaFire": false
  },
  "rateLimits": {
      "mangaFireDuration": 1500,
      "mangaFireMax": 2
  }
}
