.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    /* border: none;
    border-radius: 4px;
    box-sizing: border-box; */
}

.mangaCard {
    width: 20%; /* Set the desired width of the card */
    height: 150px; /* Set the desired height of the card */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coverImg {
    position: absolute;
    width: 50%;
    transform: translate(50%);
    height: auto;
    object-fit: cover;
}

.imgWrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.cardTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mangaOverviewModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modalContent {
    background-color: #7c7070;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modalImage {
    width: 20%;
    height: 30%;
    border-radius: 10px;
}

.mangaInfo {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
    height: 100%;
}

.mangaDetails {
    padding-left: 20px;
}

.modalTitle {
    height: 20%;
}

.chapterList {
    overflow-y: scroll;
    height: 256px;
}

.actionButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.button {
    width: 32%;
    background-color: #22346e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #273e89;
}

.cardControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background: inherit;
    border: none;
}

/* Fix double borders and extra bars */
.selectField {
    min-width: 160px;
    height: 40px;
}

.inputField, .selectField {
    min-width: 160px;
    height: 40px; /* Make sure all elements have the same height */
    display: flex;
    align-items: center;
}
