.addBookmarksContainer {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
}

.instructionContainer ul {
    list-style-type: disc;
    padding-left: 20px;
}

.instructionContainer ul ul {
    list-style-type: circle;
    padding-left: 20px;
}