.feedChangeOptionButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.feedOptionContainer{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.mangaFeedControlButton{
    background-color: #22346e;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1vw;
    flex: 10%
}

.mangaFeedControlButton:hover{
    background-color: #273e89;
}

.mangaFeedControlButton:disabled{
    background-color: #0f193b;
}

.feedMangaTitle {
    color: white;
    font-size: 3vh;
}

.controlButtonContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.mangaContainer {
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    height: 50%;
}

.cover-image {
    width: 20%;
    height: 30%;
    border-radius: 10px;
    overflow: hidden
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
    height: 100%;
    margin-left: 2%;
    flex: 1;
}

.button-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1vh; /* Add spacing between buttons */
}

.action-button {
    flex: 0 0 60%; /* Set button width to 60% of the container */
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5vw;
    cursor: pointer;
    text-align: center;
}

.action-button:hover {
    background-color: #2563eb;
}

.chapter-number {
    color: #10b981;
    margin-left: 10px;
    font-size: 3vw;
    flex: 1;
    text-align: left;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #7c7070;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    position: relative; /* Changed to absolute positioning */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
    font-size: 3vw;
}

.currentButtonSubmit {
    width: 100%;
    height: 1.2rem;
    background-color: #22346e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.currentButtonSubmit:hover {
    background-color: #273e89;
}

.addError {
    color: rgb(179, 0, 0);
}