input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.removeContainer {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
  
  .removeButton {
    width: 100%;
    background-color: #22346e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .removeButton:hover {
    background-color: #273e89;
  }

  .closeButtonHome {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .removeConfirmation {
    color: chartreuse;
  }

  .removeError {
    color: rgb(179, 0, 0);
  }
