{
    "globalCommands": false,
    "updateDelay": 7200000,
    "updateAtStart": true, 
    "allowManganatoScans": true,
    "allowReaperScans": false,
    "allowReaperScansFake": true,
    "serverUrl": "worker_url",
    "imageUrlBase": "image_bucket_url",
    "serverPassword": "secret_Password_Change_Me"
}
